body {
    background-image: url("");
    body {background-color: 
}

button {
    background-color: rgb(111, 226, 230);
    width: 190px;
    margin: 100px;
    font-size:305 px;
}
























































  
