button {
    background-color: rgb(111, 226, 230);
    width: 200px;
    margin: 40px;
    font-size: 30px;
}


img {
    border-radius: 8px;
    width: 300px;
    height: 300px;
}

body {
    background:linear-gradient(-45deg, #ff9a9e, #ffad0c4, #fad0c4, #ff9a9e);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
    






















































  
