body {
    background-image: url("");

button {
    background-color: rgb(111, 226, 230);
    width: 325px;
    margin: 80px;
    font-size: 5px;
}
























































  
