body {
    background-image: url("");
}

button {
    background-color: rgb(111, 226, 230);
    width: 400px;
    margin: 100px;
    font-size: 20px;
}
























































  
