body {
    background-image: url("");
}

button {
    background-color: rgb(111, 226, 230);
    width: 175px;
    margin: 100px;
    font-size: 25 px;
}
























































  
